body {
  text-transform: capitalize;
}
footer {
  background-color: rgb(43, 44, 67);
  color: aliceblue;
  height: 70px;
}
footer > p {
  padding-top: 25px;
  text-align: center;
}
body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.dark-mode {
  background-color: black;
  color: white;
}
p {
  font-size: 1.15rem;
}
ul {
  font-size: 1.15rem;
}
#home {
  color: aliceblue;
  background: rgb(89, 37, 138);
  background: linear-gradient(
    90deg,
    rgba(89, 37, 138, 1) 0%,
    rgb(167, 50, 191) 49%,
    rgba(76, 32, 146, 1) 100%
  );
  color: aliceblue;
  padding-top: 30px;
  padding-bottom: 30px;
}
a{
  text-decoration: none;
}
