body {
  text-transform: capitalize;
}
footer {
  background-color: rgb(43, 44, 67);
  color: aliceblue;
  height: 70px;
}
footer > p{
padding-top: 25px; text-align: center;
}
body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.dark-mode {
  background-color: black;
  color: white;
}