body {
  text-transform: capitalize;
}
footer {
  background-color: rgb(48, 63, 82);
  color: rgb(124, 140, 153);
  height: 70px;
  font-size: 1 rem;
}
footer > p {
  padding-top: 25px;
  text-align: center;
}
body {
  background-color: rgb(255, 255, 255);
  color:  rgb(48, 63, 82);
  font-size: 20px;
}
.projects{
  color:  rgb(48, 63, 82);

}

.dark-mode {
  background-color:  rgb(48, 63, 82);
  color: rgb(231, 231, 231);
}
.light-mode {
  background-color: rgb(236, 234, 234);
  color:  rgb(48, 63, 82);
}
p {
  font-size: 1.15rem;
}
ul {
  font-size: 1.15rem;
}
#home {
  color: aliceblue;
  background: rgb(48, 63, 82);

  color: aliceblue;
  margin-top: 10px;
  padding-top: 55px;
  padding-bottom: 40px;
}
a {
  text-decoration: none;
}
